<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Out</title>
    <link rel="stylesheet" href="/css/check-out.css"> 
    <nav class="navbar">
    <a href="/carrito"><img class="logo" src="\img\Logo nft.png" alt="imagen logo"></a>
     <h2 id="nombre-web">NFT ARG</h2>
         <fieldset class="barra-busqueda">
             <input type="hidden" name="ie" value="UTF-8" />
             <input type="hidden" name="oe" value="UTF-8" />
             <input class="campbus" type="search" id="s" name="q" value="" placeholder="Buscar NFT" />
             <div class="forbus">
             </div>
         </fieldset>
         
      
     <ul class="seccionnavbar">
         <button class="boton">
         <li>REGISTRARSE</li></button>
         <button class="boton">
         <li>INICIAR SESION</li></button>
         <button class="boton">
         <li>CARRITO</li></button>
     </ul>
 </nav>
</head>
<body>
<H2 class="proceso-checkout">PROCESO DE CHECK OUT</H2>
<div class="todo-completo">
<article class="productos-boton">
<div class="listado-de-productos">LISTADO DE PRODUCTOS</div>
<div class="boton-comprar">
<button class="boton-reset" type="reset">Cancelar compra</button>
<button class="boton-submit" type="submit">Finalizar compra</button>
</div></article>
<div class="parte-derecha">
<ul>
<div>
<li 
><input type="text" name="nombre y apellido" placeholder="Nombre y Apellido">
<input type="email" name="email" placeholder="Correo electronico">
<input type="text" name="direccion" placeholder="Direccion"></li>
 

</div>
<li><input type="number" name="Codigo de descuento" placeholder="Codigo de descuento"></li>
<li><label for="metodos de pago">Elegir metodo de pago:</label>
    <select id="metodos de pago" name="metodos de pago">
    <option value="Visa">Visa</option>
    <option value="Master Card">Master Card</option>
    <option value="American Express">American Express</option></select>
    <ul><input type="radio">3 cuotas</ul>
    <ul><input type="radio">6 cuotas</ul>
    <ul><input type="radio">12 cuotas</ul>
</li>
</ul>
</div></div>

</body>

<footer>

    <section>
    <div class="footer"></div>
    <div class="secciones-footer">
    <p class="mp">MARKET PLACE</p>
    <p class="mc">MI CUENTA</p>
    <p class="sn">SOBRE NOSOTROS</p>
    <p class="contacto">CONTACTO</p>
    
    
    
    </div>
    
    </section>
    
    
    
    </footer>
</html>