<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Bienvenidxs a NFT's Argentina</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/public/css/home.css">
</head>

<body>
    <header>
        
        <div class="top-header">
            <div class="logo">
                <img src="/public/img/Logo nft terminado (1).png" alt="Logo de E-comerce" width="200" height="250">
            </div>
            <div class="container">
                <form action="#" method="GET" class="search-bar">
                    <input type="text" id="search-box" placeholder="Buscar tu NFT preferido" />
                    <button type="submit" class="nav-search-btn">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
            <p id="buy"><i class="fas fa-hand-holding-usd"></i>Invierte en tu NFT favorito</p>
        </div>
        <nav>
            <div class="navegadores">
                <div class="bloqueFantasma">

                </div>
                <div class="navegador2">
                    <ul class="nav2">
                        <li><a href="/views/register.html">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                        <li><a href="/views/login.html">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                        <li><a href="/views/carrito.html">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="burger-menu">
            <i class="fa-brands fa-ethereum"></i>
        </div>
        
    </header>
    <!-- <section class="banner">
        <img class="img-fot" src="static/images/img-home-banner.jpg" alt="Banner de ofertas">
    </section> -->
    <main>
        <section class="last-visit">
            <h3>Basado en tu última visita</h3>
            <div class="products">
                <article>
                    <img src="/public/images/" alt="Opepen" class="product_img">
                    <div class="main-article">
                        <i class="fab fa-bitcoin"></i>
                        <p class="price">0.6869 BTC</p>
                        <!-- <p class="discount">40% off</p> -->
                        <h4 class="description">Opepen</h4>
                    </div>
                </article>
                <article>
                    <img src="/public/images/1.PNG" alt="My Keyboard" class="product_img">
                    <div class="main-article">
                        <i class="fab fa-bitcoin"></i>
                        <p class="price">0.13 BTC</p>
                        <!-- <p class="discount">20% off</p> -->
                        <h4 class="description">MY Keyboard</h4>
                    </div>
                </article>
                <article>
                    <img src="/public/images/Captura1.PNG" alt="Ethernal Butterfly"
                        class="product_img">
                    <div class="main-article">
                        <i class="fab fa-bitcoin"></i>
                        <p class="price">0.97 BTC</p>
                        <!-- <p class="discount">10% off</p> -->
                        <h4 class="description">Ethernal Butterfly</h4>
                    </div>
                </article>
                <article>
                    <img src="/public/images/Captura2.PNG" alt="Fire Card" class="product_img">
                    <div class="main-article">
                        <i class="fab fa-bitcoin"></i>
                        <p class="price">0.01 BTC</p>
                        <!-- <p class="discount">5% off</p> -->
                        <h4 class="description">Fire Card"</h4>
                    </div>
                </article>
            </div>
        </section>
        <section class="offers">
            <h3>Los mas Vendidos</h3>
            <div class="products">
                <article>
                    <img src="/public/images/los mas vendidos1.PNG" alt="NFT" class="product_img">
                    <div class="main-article">
                        <i class="fab fa-bitcoin"></i>
                        <p class="price">0.04 BTC</p>
                        <p class="discount">40% off</p>
                        <h4 class="description">Misfit #3515</h4>
                    </div>
                </article>
                <article>
                    <img src="/public/images/Captura3.PNG" alt="OxTama #5434" class="product_img">
                    <div class="main-article">
                        <i class="fab fa-bitcoin"></i>
                        <p class="price">0.0388 BTC</p>
                        <p class="discount">20% off</p>
                        <h4 class="description">OxTama #5434</h4>
                    </div>
                </article>
                <article>
                    <img src="/public/images/Captura4.PNG" alt="Opepen 3788"
                        class="product_img">
                    <div class="main-article">
                        <i class="fab fa-bitcoin"></i>
                        <p class="price">0.77 BTC</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Opepen 3788</h4>
                    </div>
                </article>
                <article>
                    <img src="/public/images/Captura5.PNG" alt="Asellio #8,991" class="product_img">
                    <div class="main-article">
                        <i class="fab fa-bitcoin"></i>
                        <p class="price">0.08 BTC</p>
                        <p class="discount">5% off</p>
                        <h4 class="description">Asellio #8,991</h4>
                    </div>
                </article>
            </div>
        </section>
        <video muted autoplay loop>
            <source src="/public/images/videoplayback.mp4"
            type="video/mp4">
          </video>
          <div class="capa"></div>
    </main>
    <footer>
        <div class="flexfooter">
            <div>
                <i class="fas fa-credit-card icono-footer"></i>
                <h3>¡Pagá con tu wallet en segundos!</h3>
                <p>Con Metamask, tenés descuentos en tus compras de NFT's!!!</p>
            </div>
            <div>
                <i class="fas fa-gift icono-footer"></i>
                <h3>¡Regala NFT's a tus amigos!</h3>
                <p>Solo por estar registrado en nuestro Marketplace participas de un sorteo del NFT del mes!!!</p>
            </div>
            <div>
                <i class="fas fa-user-shield icono-footer"></i>
                <h3> Seguridad en todas tus transacciones</h3>
                <p>Siempre estaras protegido a la hora de pagar con nuestro sistema de seguridad de doble contrato. </p>
            </div>

        </div>
    </footer>

</body>

</html>