* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  
  header {
    background-color: whitesmoke;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  #nombre-web {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
  }
  
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .seccionnavbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    list-style: none;
  }
  
  .seccionnavbar li button {
    color: white;
    background-color: black;
    border-radius: 10px;
    font-size: 0.8rem;
    padding: 5px 10px;
  }
  
  .campbus {
    background-color: white;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: none;
    padding: 5px;
  }
  
  .prod-descripcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  
  .prod-img {
    width: 100%;
    height: auto;
  }
  
  .descripcion-nft {
    display: flex;
    background-color: white;
    color: black;
    align-items: center;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
  }
  
  .comprar {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  button[type="submit"] {
    width: 80%;
    height: 50px;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: white;
    border-radius: 10px;
  }
  
  footer {
    margin-top: 20px;
    background-color: aqua;
    padding: 20px;
  }
  
  .secciones-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .mp,
  .mc,
  .sn,
  .contacto {
    background-color: white;
    padding: 10px;
    font-size: 1rem;
  }
  
  @media (max-width: 479px) {
    .logo {
      width: 30px;
    }
  
    #nombre-web {
      font-size: 1.2rem;
    }
  
    .seccionnavbar {
      gap: 5px;
    }
  
    .campbus {
      width: 80%;
    }
  
    .prod-descripcion {
      margin-top: 20px;
    }
  
    .prod-img {
      width: 100%;
      height: auto;
    }
  
    .descripcion-nft {
      font-size: 1rem;
      padding: 5px;
      margin-top: 10px;
    }
  
    .comprar button[type="submit"] {
      width: 100%;
      height: 40px;
      font-size: 1rem;
    }
  
    .mp,
    .mc,
    .sn,
    .contacto {
      font-size: 0.8rem;
    }
  }
  
  @media (min-width: 760px) {
    #nombre-web {
      font-size: 2rem;
    }
  }
  