<footer>

    <section>

    <div class="footer"></div>
    
    <div class="secciones-footer">
    <p class="mp">MARKET PLACE</p>
    <p class="mc">MI CUENTA</p>
    <p class="sn">SOBRE NOSOTROS</p>
    <p class="contacto">CONTACTO</p>

    </div>
    </section>
    
</footer>