<!DOCTYPE html>
<html lang="en">

<%- include('../views/partials/header') %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras, NFT</title>
    <link rel="stylesheet" href="/css/carrito.css">

<body>

<main>
<section class="productos">
    
<article class="prod-descripcion">
        <img class="prod-img" src="\img\lionlegends.jpg" alt="imagen nft">
    
    <div class="descripcion-nft">DESCRIPCION DEL NFT</div>
</article>
    <div class="comprar">
    <a href="/checkout"><button type="submit" name="comprar" id="COMPRAR">COMPRAR</button></a>
    </div>
</section>
</main>    
    
</body>

<%- include('../views/partials/footer') %>

</body>
</html>
