<!DOCTYPE html>
<html lang="en">
 
<%- include('../views/partials/header') %>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Out</title>
    <link rel="stylesheet" href="/css/check-out.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
<H2 class="proceso-checkout">Proceso de check out</H2>
<div class="todo-completo">
<article class="productos-boton">
<section class="carrito">
<div class="listado-de-productos">LISTADO DE PRODUCTOS
<div class="shopping-cart-item">
  <a href="/creacion/edicion-prod"><div class="prod-img"><img src="https://i.seadn.io/gcs/files/5fbdf1258db758f9a675742884a49e53.png?auto=format&dpr=1&w=1000" width="100px" height="100px" alt=""></div></a>
</div>
<div class="shopping-cart-item">
    <div class="prod-img"><img src="https://i.seadn.io/gcs/files/26d600815c6a0ad731d1956bab766e5e.png?auto=format&dpr=1&w=1000"width="100px" height="100px"  alt=""></div>
</div>
<div class="shopping-cart-item">
    <div class="prod-img"><img src="https://i.seadn.io/gcs/files/00c13b0f62b4e0586cc63ec8cc27bcda.jpg?auto=format&dpr=1&w=1000" width="100px" height="100px" alt=""></div>
</div></div>
</section>
<div class="boton-comprar">
<button class="boton-reset" type="reset">CANCELAR COMPRA</button>
<button class="boton-submit" type="submit">FINALIZAR COMPRA</button>
</div></article>
<div class="parte-derecha">
<ul>
<div>
<li 
><input type="text" name="nombre y apellido" placeholder="Nombre y Apellido">
<input type="email" name="email" placeholder="Correo electronico">
<input type="text" name="direccion" placeholder="Direccion"></li>
 

</div>
<li><input type="number" name="Codigo de descuento" placeholder="Codigo de descuento"></li>
<li><label for="metodos de pago">Elegir metodo de pago:</label>
    <select id="metodos de pago" name="metodos de pago">
    <option value="Visa">Visa</option>
    <option value="Master Card">Master Card</option>
    <option value="American Express">American Express</option></select>
    <ul><input type="radio">3 cuotas</ul>
    <ul><input type="radio">6 cuotas</ul>
    <ul><input type="radio">9 cuotas</ul>
    <ul><input type="radio">12 cuotas</ul>
</li>
</ul>
</div></div>

</body>

<%- include('../views/partials/footer') %>
</html>