
<nav class="navbar">
    <a href="/"><img class="logo" src="\img\Logo nft terminado (1).png" alt="imagen logo"></a>
    <h2 id="nombre-web">NFT ARG</h2>
    <fieldset class="barra-busqueda">
        <input type="hidden" name="ie" value="UTF-8" />
        <input type="hidden" name="oe" value="UTF-8" />
        <input class="campbus" type="search" id="s" name="q" value="" placeholder="Buscar NFT" />
        <div class="forbus"></div>
    </fieldset>
    <ul class="seccionnavbar">
       <a href="/user/register"> <button class="boton">
        <li>REGISTRARSE</li></button></a>
        <button class="boton">
        <a href="/user/login"><li>INICIAR SESION</li></button></a>
        <button class="boton">
            <li><i class="fa-solid fa-cart-shopping fa-2xl" style="color: black;"></i></li></button>
    </ul>
</nav>
